<div class="container">
  <div class="row">
    <div class="col-12">
      <a routerLink="add" class="btn btn-outline-primary w-25">Yeni Ekle</a>
    </div>
    <div
      *ngFor="let product of productList"
      class="col-12 col-sm-6 col-md-3 my-3"
    >
      <app-product-card
        [title]="product.name"
        [imgUrl]="
          'https://media.istockphoto.com/id/479520746/tr/foto%C4%9Fraf/laptop-with-blank-screen-on-white.jpg?s=612x612&w=0&k=20&c=sYh67hrHs8KBSvUmUD6YpIaasEXaFD4l3_5qh--Mumc='
        "
        [description]="'STOK: ' + product.unitsInStock"
        [price]="product.unitPrice"
        [id]="product.id"
        (onDelete)="fetchProducts()"
      ></app-product-card>
    </div>
  </div>
</div>
<!-- 10:05 -->
